body{
    background: #eee;
}
h1{
    font-family: 'Righteous', cursive;
}
p{
    font-family: 'Roboto', sans-serif;
}

.nome-site{
    font-size: 44px;
    color: #fff;
}

.topo{
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.topo p{
    color: #fff;
    font-size: 18px;
}

.menu{
    padding: 108px 0;
    width: 100%;
}

.categoria h1{
    font-size: 26px;
    color: #333;
    margin-left: 19px;
}
.menu-sidescroll{
    width: 100%;
    display: flex;
    overflow: scroll;
}

.item:first-child{
    margin-left: 19px;
}

.item{
    width: 172px;
    height: auto;
    background-color: #fff;;
    margin-right: 16px;
    border-radius: 5%;
    margin-top: 17px;
}

.item img{
    width: 144px;
    height: 87px;
    margin: 18px 14px 0 14px;
}
.informacoes{
    margin: 8px 14px 13px 14px;
}

.nome-prato{
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.descricao{
    font-size: 15px;
    color: #a6a6a6;
}

.valor{
    font-size: 16px;
    margin-top: 10px;
}