body{
    background: #eee;
}
h1{
    font-family: 'Righteous', cursive;
}
p{
    font-family: 'Roboto', sans-serif;
}

.nome-site{
    font-size: 44px;
    color: #fff;
}

.topo{
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 10px 2px grey;
}

.topo p{
    color: #fff;
    font-size: 18px;
}

.menu{
    padding: 128px 0 78px 0;
    width: 100%;
    height: auto;
 
}
.categoria{
    margin-bottom: 20px;
}

.categoria h1{
    font-size: 26px;
    color: #333;
    margin-left: 19px;
}
.menu-sidescroll{
    width: 100%;
    display: flex;
    overflow: scroll;
}

.item:first-child{
    margin-left: 19px;
}

.item{
    width: 172px;
    height: auto;
    background-color: #fff;;
    margin-right: 16px;
    border-radius: 5%;
    margin-top: 17px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 2px #e7e7e7;
}

.item img{
    width: 144px;
    height: 87px;
    margin: 18px 14px 0 14px;
}
.informacoes{
    margin: 8px 14px 13px 14px;
}

.nome-prato{
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.descricao{
    font-size: 15px;
    color: #a6a6a6;
}

.valor{
    font-size: 16px;
    margin-top: 10px;
}

.rodape{
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg{
    width: 364px;
    height: 61px;
    border-top-left-radius: 30px 50%;
    border-bottom-left-radius: 30px 50%;
    border-top-right-radius: 30px 50%;
    border-bottom-right-radius: 30px 50%;
    box-sizing: border-box;
    padding: 0 80px;
    background-color: #CBCBCB;
    display:flex;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 20px;

}